*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --clr-d5 : #1C1C28;
  --clr-d4 : #28293D;
  --clr-d3 : #555770;

  --clr-li : #FFFFFF;
  --clr-ye : #FDED72;
  --clr-te : #73DFE7;
  --clr-gr : #57EBA1;
  --clr-bl : #0063F7;

  --fw-nor : 400;
  --fw-bol : 700;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: var(--clr-d4);
  line-height: 1;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat Alternates', sans-serif;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
